<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ module }}</title>
</head>

<body>
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            height: 100%;
            background: #000;
        }

        #root {
            display: block;
            width: 100vw;
            height: 100vh;
        }
    </style>
    <script type="module">
        import init from './{{ module }}/wasm.js';
        await init();
    </script>
    <div>
        <canvas id="root"><canvas>
    </div>
</body>

</html>