name: ci
on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
env:
    CARGO_INCREMENTAL: false
    CARGO_TERM_COLOR: always
    RUSTFLAGS: -Dwarnings
    RUST_BACKTRACE: full
    MSRV: 1.71
    RUSTDOCFLAGS: -Dwarnings
    CACHE_SUFFIX: c
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v3
          - name: Build
            run: cargo build --features x11 --verbose
          - name: Clippy
            run: cargo clippy --features x11
          - name: Tests
            run: cargo test --features x11 --verbose
