name: ci
on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
env:
    CARGO_INCREMENTAL: false
    CARGO_TERM_COLOR: always
    RUSTFLAGS: -Dwarnings
    RUST_BACKTRACE: full
    MSRV: 1.71
    RUSTDOCFLAGS: -Dwarnings
    CACHE_SUFFIX: c
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v3
          - name: Install mesa
            run: |
                set -e
                sudo apt-get update -y -qq
                sudo add-apt-repository ppa:kisak/kisak-mesa
                sudo apt-get update
                sudo apt install mesa-utils
                glxinfo | grep "OpenGL version"

          - name: Build
            run: cargo build --verbose
          - name: Clippy
            run: cargo clippy
          - name: Tests
            run: cargo test --verbose
